{ 
    gateway: {
        mode: "local",
        bind: "lan",
        controlUi: {
            allowedOrigins: ["http://127.0.0.1:18789"{{if getenv "OPENCLAW_GATEWAY_CONTROLUI_ALLOWED_ORIGIN"}},"{{ getenv "OPENCLAW_GATEWAY_CONTROLUI_ALLOWED_ORIGIN" }}"{{end}}]
        }
    }
}